/* screen - home */

.home {
  align-items: flex-start;
  background-color: whitesmoke;
  display: flex;
  height: 1024px;
  width: 1440px;
}

.home .overlap-group {
  align-items: flex-start;
  background-color: #476b51;
  display: flex;
  flex-direction: column;
  min-height: 1024px;
  width: 1440px;
}

.home .rectangle-31 {
  background-color: rgb(176, 97, 97);
  height: 75px;
  width: 1440px;
}

.home .rectangle-41 {
  background-color: rgb(124, 47, 47);
  height: 200px;
  width: 1440px;
}

.home .rectangle-42 {
  background-color: #ae5252;
  height: 300px;
  width: 1440px;
}

.home .rectangle-43 {
  background-color: #571515;
  height: 449px;
  width: 1440px;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}

:root { 
  --astronaut: #183379;
  --barberry: #ded61c;
  --copper-rust: #994848;
  --white: #ffffff;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:400");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */



.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}

