/* screen - about */

.about {
  align-items: flex-start;
  background-color: whitesmoke;
  display: flex;
  height: 1024px;
  width: 1440px;
}

.about .overlap-group {
  align-items: center;
  background-color: #9d5f5f;
  display: flex;
  flex-direction: column;
  min-height: 1024px;
  width: 1440px;
}

.about .rectangle-40 {
  background-color: rgb(131, 48, 48);
  height: 75px;
  width: 1440px;
}

.about .flex-row {
  align-items: flex-start;
  display: flex;
  margin-right: 21.0px;
  margin-top: 90px;
  min-width: 1253px;
}

.about .rectangle-45 {
  background-color: rgb(219, 157, 157);
  height: 200px;
  width: 700px;
}

.about .rectangle-48 {
  background-color: rgb(231, 102, 102);
  height: 200px;
  margin-left: 203px;
  width: 350px;
}

.about .rectangle-46 {
  background-color: rgb(82, 26, 26);
  height: 215px;
  margin-right: 24.0px;
  margin-top: 64px;
  width: 1250px;
}

.about .rectangle-47 {
  background-color: rgb(195, 115, 115);
  height: 215px;
  margin-right: 24.0px;
  margin-top: 55px;
  width: 1250px;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}

:root { 
  --astronaut: #183379;
  --barberry: #ded61c;
  --copper-rust: #994848;
  --white: #ffffff;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:400");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */



.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}

