/* screen - landing-page */

.landing-page {
  align-items: flex-start;
  background-color: whitesmoke;
  display: flex;
  width: 1440px;
}

.landing-page .overlap-group {
  background-color: #575050;
  background-position: 50% 50%;
  background-size: cover;
  height: 1024px;
  position: relative;
  width: 1440px;
}

.landing-page .rectangle-15 {
  background-color: #c4c4c4;
  border-radius: 32px;
  height: 77px;
  left: 563px;
  position: absolute;
  top: 473px;
  width: 314px;
}

.landing-page .flag_of_-ukraine-1 {
  height: 77px;
  left: 563px;
  object-fit: cover;
  position: absolute;
  top: 473px;
  width: 314px;
}

.landing-page .title {
  color: whitesmoke;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 400;
  left: 615px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 492px;
  width: 212px;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}

:root { 
  --astronaut: #183379;
  --barberry: #ded61c;
  --copper-rust: #994848;
  --white: #ffffff;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:400");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */



.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}

