/* screen - upload-page */

.upload-page {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1024px;
  width: 1440px;
}

.upload-page .overlap-group {
  align-items: center;
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  min-height: 1024px;
  width: 1440px;
}

.upload-page .overlap-group1 {
  align-items: flex-start;
  background-color: var(--astronaut);
  display: flex;
  min-width: 1440px;
}

.upload-page .rectangle-49 {
  background-color: var(--barberry);
  height: 75px;
  width: 250px;
}

.upload-page .overlap-group4 {
  align-items: flex-start;
  background-color: #b27f7f;
  display: flex;
  margin-left: 450px;
  min-width: 740px;
}

.upload-page .rectangle-5 {
  background-color: var(--barberry);
  height: 75px;
  width: 185px;
}

.upload-page .rectangle-5-1 {
  background-color: var(--astronaut);
  height: 75px;
  width: 185px;
}

.upload-page .rectangle-32 {
  background-color: var(--astronaut);
  height: 54px;
  margin-right: 1.0px;
  margin-top: 29px;
  width: 517px;
}

.upload-page .overlap-group-container {
  align-items: flex-start;
  display: flex;
  margin-left: 10.0px;
  margin-top: 28px;
  min-width: 1300px;
}

.upload-page .overlap-group2 {
  background-color: var(--copper-rust);
  height: 364px;
  position: relative;
  width: 584px;
}

.upload-page .rectangle-36 {
  background-color: var(--astronaut);
  height: 364px;
  left: 0;
  position: absolute;
  top: 0;
  width: 584px;
}

.upload-page .rectangle-38 {
  background-color: var(--barberry);
  justify-content: center;
  align-items: center;
  
  height: 50px;
  left: 167px;
  position: absolute;
  top: 157px;
  width: 250px;
}

.upload-page .overlap-group3 {
  align-items: center;
  background-color: var(--astronaut);
  background-image: url(https://lh3.googleusercontent.com/_B43S5qwF5J3FFbBE5NjB1I0RgmZ_RqlJX8Bebbk6KGb7HCfCmaj7AyLuB-HJPvZtg2NO5spEdm9F8Lwpxap_GqD11QTNvVcT1kwCQF66uPKQgJOyVaodDqeV1AiWVDuEr1UjjlEU218uF_i77l4shWivPQ1dcg9A19Cg_A1_ldFhI26aUN1eX7YtJCSB_zxGoHGkYY2Rh6U4CRut1GBbbP8lonxI3v9ifSXicDu90Lm02rv0wzL7PYfx1TudBLMaD8sIxD6XV5h2acOBllq9vRfvQe-Xq5vyKpq_SEYsLvf1K2KZcraS42dZ1F3GzvubIcaGw1FrbsClt_qW80_quY65sAlLqjbyRM6M4q6GBbPxHgX5WVPIeWBgNZdFw472SCH0wSyJteGVGw42VV45S_QLQ5d3tLSFyUy6GByAbgMYNyYCiyafzv3m7-XpLNtahkt2W0UsUk4rdAzkxiXwaghV4zZLn3mUgP1ndoPfQudqLABoLssIjYqcF8GPFAyikkYxsxyVVK2Q9oxqeqiZNt8iGhk4UCjQYe-k5INcYNh4jMapw_W04Wc0Fa6bEZNhc4f04Znhmh9akrbr9pz9qnKJ3RoaeAJyIrnLMSJHVkLP98KCfRiPWlY8XkoWMJyJxZ2shiMmEqY3NrCyBCkqBqhqKCSAyeajjfesqNqnzj0lJcoZ2ZROjvKXtzucvZrp_9CNa4fWx6llxRaFEu1TP8RgzuyFLedeeF_E-kwwbMa3MWSgayeUDF-gBrRkhI_EdmZdVECkZSM9wgjDLDHCmO4CMRoy0aALlU=w330-h220-no?authuser=0);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  height: 364px;
  margin-left: 132px;
  min-width: 584px;
  padding: 0 167px;
}

.upload-page .rectangle-39 {
  background-color: var(--barberry);
  height: 50px;
  width: 250px;
}

.upload-page .flex-row {
  align-items: flex-start;
  display: flex;
  margin-left: 10.0px;
  margin-top: 55px;
  min-width: 1300px;
}

.upload-page .rectangle-37 {
  background-color: var(--astronaut);
  height: 364px;
  width: 584px;
}

.upload-page .rectangle-35 {
  background-color: var(--astronaut);
  height: 364px;
  margin-left: 132px;
  width: 584px;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}

:root { 
  --astronaut: #183379;
  --barberry: #ded61c;
  --copper-rust: #994848;
  --white: #ffffff;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:400");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */



.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}

