/* screen - landing-page */

.landing-page {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  width: 1440px;
}

.landing-page .overlap-group {
  background-color: #575050;
  background-image: url(../img/ukraine-by-theno7er-df0matk-250t-1@1x.svg);
  background-position: 50% 50%;
  background-size: cover;
  height: 1024px;
  position: relative;
  width: 1440px;
}

.landing-page .rectangle-15 {
  background-color: #c4c4c4;
  border-radius: 32px;
  height: 77px;
  left: 563px;
  position: absolute;
  top: 473px;
  width: 314px;
}

.landing-page .flag_of_-ukraine-1 {
  height: 77px;
  left: 563px;
  object-fit: cover;
  position: absolute;
  top: 473px;
  width: 314px;
}

.landing-page .title {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 400;
  left: 615px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 492px;
  width: 212px;
}
